# Python 3.12

# shell
# python.exe -m pip install --upgrade pip
# pip install -r requirements.txt

websocket-client==1.9.0 # Parser

pytelegrambotapi==4.29.1 # tg bot
cryptography==46.0.2     # for api use
asyncio==4.0.0